






/* for exercise 1 of lessons (110 - 114): */
/* form {
    padding-left: 30%;
}
h2, p {
    padding: 0 20px;
} */

/* for lessons 114: */
/* body {
    box-sizing: border-box;
} */
/* form {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 10px;
}
[type = "text"] {
    width: calc(100% - 100px);
    height: 30px;
    border-radius: 10px;
    border-width: 1px;
}
[type = "submit"] {
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #f34339;
    padding: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1.5px gray;
    opacity: 0.9;
}
[type = "submit"]:hover {
    opacity: 1;
    box-shadow: 1px 1px 3px gray;
} */

/* for lessons 112: */
/* ul {
    margin: 50px auto 20px;
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
}
ul li {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    opacity: 0.65;
}
ul li:hover {
    opacity: 1;
}
[data-color="red"] {
    background-color: red;
}
[data-color="rgb(7, 218, 7)"] {
    background-color: rgb(7, 218, 7);
}
[data-color="rgb(36, 86, 253)"] {
    background-color: rgb(36, 86, 253);
}
[data-color="black"] {
    background-color: black;
}
.experiment {
    width: 400px;
    height: 250px;
    margin: auto;
    background-color: yellow;
    border-radius: 10px;
} */

/* for lessons 110: */
/* button {
    background-color: rgb(55, 234, 247);
    border: none;
    border-radius: 20%;
    padding: 7px;
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 1px 1px 3px rgb(39, 38, 38);
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    display: none;
} */

/* for lessons (106 - 109): */
/* #sec01,
#sec02 {
    height: 2000px;
} */

/* for exercise 2 of lessons (94 - 101): */
/* form {
    text-align: center;
}
#result {
    background-color: #ddd;
    width: 80%;
    min-height: 50px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
    
} */

/* for lessons (95 - 99): */
/* div {
    font-size: 25px;
    line-height: 4 !important;
} */