
/* for exercise 2 of lessons (94 - 101): */
/* form {
    text-align: center;
}
#result {
    background-color: #ddd;
    width: 80%;
    min-height: 50px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
    
} */



/* for lessons (95 - 99): */
/* div {
    font-size: 25px;
    line-height: 4 !important;
} */